.footer{
  text-align: center;
    background-color: rgba(13, 17, 20, 0.938);
    padding: 1em;
    color:rgba(255, 255, 255, 0.952);
    p{
        margin: 10px;
    }
    a{
      color:rgba(255, 255, 255, 0.952);
    }
    a:hover{
      color: rgb(156, 16, 16);
    }
  }