
@import 'header';
@import 'counter';
@import 'footer';

body{
  background-color: rgb(222, 245, 245);
 margin: 0;
}
.flex-box{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border: 1px solid black;
}
